{
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-export-default",
    [
      "styled-components",
      {
        "displayName": true
      }
    ],
    "lodash"
  ],
  "presets": [
    "es2015",
    "react"
  ]
}
