.component-example-page {
  text-align: left;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

code {
  max-width: 75%;
}

h3 {
  margin-left: 0;
}

.prop-table .header {
  border-bottom: 1px solid black;
}

.prop-table th {
  min-width: 100px;
}

.prop-table tr:nth-child(even) {
  background-color: #c9c9c9;
}

.component-demo {
  height: 400px;
  position: relative;
  border: 1px solid black;
}

.demo-wrap {
  overflow-y: auto;
}

.content-section {
  margin-bottom: 50px;
}

.component-demo {
  overflow: auto;
}
