$color-white: #fff;
$color-gray: #aaaaaa;
$color-lightgray: #f8f8f8;
$color-lavender: #8383ac;
$color-gunpowder: #3c3c5b;
$color-athens: #e2e2ec;
$color-sand: #f5f4f4;
$color-black: #000;
$color-weaveblue: #00d2ff;
