.weave-panel {
  @include material-shadow;
  &-header {
    height: 50px;
    padding-left: 20px;
    background-color: $color-athens;
    color: $color-gunpowder;
    &:first-child {
      line-height: 50px;
    }
  }

  &-body {
    padding: 20px;
  }
}
