.weave-table {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-collapse: collapse;
  border-left-color: $gray;
  border-right-color: $gray;
  border-top-color: $gray;

  &-header {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.16);
    border-bottom: 1px solid $gray;

    th {
      @include font-size(small);
      font-weight: normal;
      color: $lavender;
      text-transform: uppercase;
    }
  }
  &-row {
    @include font-size(medium);
    color: $gunpowder;
    &:nth-child(odd) {
      background-color: $athens;
    }
    td {
      padding: 3px 4px;
    }
  }
}

.weave-panel {
  @include material-shadow;
  &-header {
    height: 50px;
    padding-left: 20px;
    background-color: $athens;
    color: $gunpowder;
    &:first-child {
      line-height: 50px;
    }
  }

  &-body {
    padding: 20px;
  }
}

.weave-shadow {
  @include material-shadow;
}

.weave-menu {
  color: $lavender;
  text-align: left;
  &-item, &-sub-item {
    &:hover {
      @include hover-background;
      cursor: pointer;
    }
  }

  &-item {
    display: block;
    min-height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }

  &-sub-item {
    @include font-size(medium);
    padding-left: 40px;
    line-height: 30px;
    min-height: 30px;
  }

  .menu-item-active {
    color: $sand;
    background-color: $lavender;
  }
}

.weave-dialog {
  @include transition(opacity .2s ease);
  position: fixed;
  padding-top: 30vh;
  opacity: 0;

  &, &-overlay {
    height: 100%;
    left: -100%;
    top: 0;
    width: 100%;
  }

  &.active {
    left: 0;
    opacity: 1;
  }

  &-window {
    @include material-shadow(heavy);
    background-color: $white;
    color: $gunpowder;
    margin: 0 auto;
    max-width: $dialog-max-width;
    padding: 20px;
    width: 75%;
    z-index: 30;
    position: relative;
  }

  &-overlay {
    background-color: $black;
    opacity: 0;
    position: absolute;
    z-index: 2;
    &.overlay-active {
      opacity: .5;
      left: 0;
    }
  }



  &-close {
    text-align: right;
    & > span:hover {
      cursor: pointer;
    }
  }

  &-actions {
    text-align: right;
    min-height: 36px;
    .weave-button:first-child {
      margin-right: 10px;
    }
  }

  &-content {
    // padding: 20px;
  }
}

.weave-matched-text {
  background-color: rgba($weave-blue, 0.3);
  border: 1px solid $weave-blue;
}


.weave-list-item {
  display: block;
  position: relative;
  padding: 12px 16px;

  &-active {
    background-color: #eee;
  }

  .weave-list-item-subtext {
    opacity: 0.5;
    font-size: 13px;
  }
}


/* CircularProgress */
.weave-circular-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: spin 1s ease-in-out 0s infinite both;

  div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 4px solid #ccc;
      border-top-color: #00B4ED;
      animation: spin 0.73s infinite linear;
      box-sizing: border-box;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* LogoProgress */
.weave-logo-progress {
  display: block;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;

  .st0{fill:#32324B;}
  .st1{fill:#00D2FF;}
  .st2{fill:#FF4B19;}


  .a, .e{
    -webkit-animation: diagonal-stripes 1.25s ease-in-out 0s infinite both;
  }

  .c{
    -webkit-animation: diagonal-stripes 1.25s ease-in-out 0.1s infinite both;
  }

 .b{
    -webkit-animation: diagonal-stripes 1.25s ease-in-out 0.15s infinite both;
  }


  .f {
   -webkit-animation: vertical-stripes 1.25s ease-in-out 0.15s infinite both;
  }

  .d {
   -webkit-animation: vertical-stripes 1.25s ease-in-out 0.25s infinite both;
  }
}

@-webkit-keyframes diagonal-stripes {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
  48% {
    -webkit-transform: translateX(150px) translateY(-150px);
    opacity: 1;
  }
  50% {
      opacity: 0;
  }
  59% {
    -webkit-transform: translateX(-150px) translateY(150px);
      opacity: 0;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px); opacity: 1;
  }
}


@-webkit-keyframes vertical-stripes {
  0% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  48% {
    -webkit-transform: translateY(150px);
    opacity: 1;
  }
  50% {
      opacity: 0;
  }
  59% {
    -webkit-transform: translateY(-150px);
      opacity: 0;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

.weave-input {
  padding: 15px 10px;
  margin-bottom: 10px;
  display: inline-block;

  input {
    @include placeholder {
      color: $gray;
    };
    display: inline-block;
    box-shadow: none;
    padding: 8px;
    border: 1px solid $gray;
    border-radius: 2px;
    font-size: 16px;
  }

  .input-icon {
    visibility: hidden;
    display: inline-block;
    margin-left: 4px;
    font-size: 21px;
    color: $red;
  }

  .validation-message {
    font-size: 14px;
    padding-left: 8px;
    visibility: hidden;

    &.invalid {
      color: $red;
    }
  }

  .input-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .show {
    visibility: visible;
  }
}
