// Colors
$white: #fff;
$gray: #aaaaaa;
$lightgray: #d7d7d7;
$lavender: #8383ac;
$gunpowder: #3c3c5b;
$athens: #e2e2ec;
$sand: #f5f4f4;
$black: #000;
$stratos: #001755;
$weave-blue: rgba(0, 210, 255, 1);

// Dimensions
$dialog-max-width: 768px;

// Util classes
.disabled {
  display: none;
}
