
.weave-grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &-column {
    display: block;
    margin-left: .5em;
    margin-right: .5em;
    float: left;
  }
}

@for $i from 1 through 12 {
  .col-span-#{$i} {
    width: 100% / 12 * $i;
  }
}
