
.weave-grid {
  max-width: 100%;

  &-column {
    @include clearfix;
    display: block;
    margin: .5em;
    float: left;
  }

  &-row {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .align-left {
    justify-content: flex-start;
  }

  .align-center {
    justify-content: center;
  }

  .align-right {
    justify-content: flex-end;
  }
}

@for $i from 1 through 12 {
  .col-span-#{$i} {
    width: percentage($i / 12);
  }
}
