@import "../../src/styles/index.scss";
@import "markdown.css";
@import "syntax.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: $sand;
  font-family: 'Roboto', sans-serif;
}

.components-page {
  margin: 0 auto;
  .weave-grid {
    .col-span-2 {
      margin-right: 0;
    }
  }
}

.component-example-page {
  text-align: left;
  padding: 20px;
  max-width: 1440px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

h3 {
  margin-left: 0;
}

a {
  display: block;
}

.prop-table .header {
  border-bottom: 1px solid black;
}

.prop-table th {
  min-width: 100px;
}

.component-demo {
  height: 400px;
  position: relative;
}

.content-section {
  margin-bottom: 50px;
}

.component-demo {
  overflow: auto;
}

.nav {
  margin-top: 40px;
}

.logo {
  position: relative;
  margin: 10px;
  padding: 10px 0 10px 0;
}

.header {
  border-bottom-width: 1px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.16);
  border-bottom: 1px solid $gray;
  height: 50px;
  width: 100%;
  line-height: 50px;
  .logo {
    width: 200px;
    height: 50px;
  }
}

.description p code {
  font-size: 16px;
  display: inline-block;
}

.description code {
  max-width: 600px;
}
